<div
  class="w-full sm:w-[90%] md:w-[85%] lg:max-w-[1024px] mx-auto px-4 sm:px-6 lg:px-0 py-5 pt-10 lg:pt-20"
>
  <h1
    class="font-montserrat fonr-weight-400 text-[27px] sm:text-3xl md:text-5xl lg:text-7xl sm:text-center"
  >
    <span class="xs:block sm:inline">I’ll find you top talent for</span>
    <span class="xs:block sm:inline">
      your
      <!-- <span class="font-[500] text-primary-dark">NodeJS Developer</span> job -->
      <span class="font-[500] text-primary-dark">{{
        jobInformation?.jobTitle
      }}</span>
      job now!
    </span>
  </h1>

  <section class="text-center">
    <app-contact-us-card
      [tasInformation]="tasInformation?.data"
    ></app-contact-us-card>
  </section>

  <section class="candidates mt-6">
    <div class="flex flex-row justify-between py-2">
      <div class="flex my-radio-button">
        <div class="flex items-center">
          <input id="inline-radio" (change)="getTopTalentEdmList()" [checked]="tabSelected === 'All Candidates'" type="radio"
            value="All Candidates" name="filter-candidate" class="invisible"  />
          <label for="inline-radio"  class="cursor-pointer">
            <span translate>All_Candidates</span>
          </label>
        </div>
        <div class="flex items-center">
          <input id="inline-2-radio" [checked]="tabSelected === 'Favourites'" type="radio" value="Favourites"
            name="filter-candidate" class="invisible" (change)="getFavoriteCandidates()"/>
          <label for="inline-2-radio" class="cursor-pointer"  translate>
            <span translate>Favourites</span>
          </label>
        </div>
      </div>
      <div class="hidden sm:block text-sm14 text-secondary-light">
        {{ itemsPerPage }} of {{ topTalentCandidates.length }} Candidates
      </div>
    </div>
    <div class="bg-[#F4F2F3] sm:p-8 rounded-[20px] grid gap-6">
      <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
      <ng-container
        *ngFor="
          let item of topTalentCandidates.slice(0, itemsPerPage);
          trackBy: trackByfn;
          let i = index
        "
      >
        <app-candidate-card [item]="item.candidate[0]"></app-candidate-card>
      </ng-container>

      <div class="flex flex-col items-center gap-3">
        <button
          type="button"
          class="btn-primary-outline-lg"
          translate
          (click)="contactMe()"
        >
          Invite Favourite Candidates
        </button>
        <button type="button" *ngIf="topTalentCandidates.length > 4" (click)="loadmore()" class="btn-link-md text-primary-dark" translate>
          Load More Candidates
        </button>
      </div>
    </div>

    <div class="flex flex-row justify-center items-center gap-3 pt-4">
      <button
        type="button"
        (click)="scrollToTop()"
        class="flex gap-2 flex-row items-center text-[13px] font-bold text-secondary"
      >
        <img class="animate-bounce" src="assets/icons/arrow-up.svg" alt="" />
        <span translate>Back To Top</span>
      </button>
    </div>
  </section>

  <section class="bg-[#F9FAFB] p-4 mt-3" *ngIf="jobInformation != null">
    <!--roleId: jobInformation?.role?.roleId -->
    <!--locationId:  jobInformation?.geoData?.geoDataId -->

    <app-salary-graph
      roleId="2311"
      locationId="192004"
      [subClassificationId]="jobInformation?.role?.subClassificationId"
      [countryId]="jobInformation?.countryId"
    >
    </app-salary-graph>
  </section>
</div>

<div>
  <section class="py-4 mt-3">
    <h2
      class="font-bold text-[#93969E] mt-6 text-[24px] sm:text-[30px] md:text-[40px] text-center"
    >
      Our customers say it best.
    </h2>

    <div class="px-[14px] pt-[40px]">
      <div class="slider-section pt-30 sm:pt-[60px]">
        <div class="slider-section-background"></div>
        <app-slider></app-slider>
      </div>
    </div>
  </section>
</div>
