<div class="bg-white rounded-[20px] p-8">

    <div class="flex justify-between ">
        <figcaption class="flex flex-wrap items-center space-x-4">
            <img src="/assets/placeholder/user-icon.png" alt="icon" class="flex-none w-[60px] h-[60px] rounded-full object-cover" loading="lazy" decoding="async">
            <div class="flex-auto">
                <h2 class="col-span-2  text-2xl text-left font-bold text-secondary-dark">Glenn Fairchild</h2>
                <div class="text-base font-medium text-secondary-light">Senior NodeJS Developer</div>
                <div class="text-[14px] font-light text-secondary-light flex gap-2 items-center">
                    <span><img src="/assets/icons/map.svg" alt=""></span>
                    <span>Port Melbourne, Victoria</span></div>
            </div>
        </figcaption>
        <div >
            <div class="flex justify-between items-center">
                <a href="" class="text-sm underline text-primary-dark">Book Interview</a>
                <a href="" class="text-sm underline text-primary-dark ">Invite To Job</a>
                <div class="flex justify-center w-[32px] h-[32px] border-solid border-2 border-primary-dark rounded-full ">
                    <img src="/assets/icons/heart.svg" class="w-[16px]" alt="">
                </div>
            </div>
            <div class="mt-4 bg-primary-light text-secondary-light py-2 px-6 text-[14px] rounded-sm font-semibold">Total Experience 14+ years</div>  
        </div>
    </div>


    <div class="bg-[#FEFBFB] mt-4 p-3 rounded-md">
        <h3 class="font-bold text-xl ">Experience</h3>
        <div class="font-semibold text-secondary-light text-2sm">
            <div class="grid grid-cols-2 sm:grid-cols-3 px-3 mb-2">
                <span class="order-1">Accountant</span>
                <span class="order-3 sm:order-2 text-left sm:text-center font-roboto font-normal text-[14px] text-black-202020">Shell Australia</span>
                <span class="order-2 sm:order-3 text-right font-roboto font-normal text-[14px] text-black-202020">5 years</span>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-3 px-3 mb-2">
                <span class="order-1">Accountant</span>
                <span class="order-3 sm:order-2 text-left sm:text-center font-roboto font-normal text-[14px] text-black-202020">Shell
                    Australia</span>
                <span class="order-2 sm:order-3 text-right font-roboto font-normal text-[14px] text-black-202020">5 years</span>
            </div>

            <button type="button" class=" font-normal text-[#202020] text-sm">+3 Other Roles</button>
        </div>
    </div>

    <div class="bg-[#FEFBFB] mt-4 p-3 rounded-md">
        <h3 class="font-bold text-xl text-secondary-dark ">Experience</h3>
        <div class="text-secondary-light ">
            <div class="grid sm:grid-cols-2 px-3 mb-4">
                <span class="font-semibold text-2sm">Master Degree - Business Administration</span>
                <span class="sm:text-right font-light text-[14px]">Monash University, Melbourne</span>
            </div>

            <div class="grid sm:grid-cols-2 px-3 mb-4">
                <span class="font-semibold text-2sm">Master Degree - Business Administration</span>
                <span class="sm:text-right font-light text-[14px]">Monash University, Melbourne</span>
            </div>
          
        </div>
    </div>

    <div class="bg-[#FEFBFB]  p-3 rounded-md">
        <h3 class="font-bold text-xl text-secondary-dark ">Skills</h3>
        <div class="flex flex-wrap gap-2">
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">NodeJS</span>
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">Angular</span>
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">React js</span>
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">React js</span>
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">Development</span>
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">Development</span>
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">Frontend Development</span>
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">Angular</span>
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">Angular</span>
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">Angular</span>
                <span class="bg-green-light p-1 rounded-sm text-sm text-secondary-light">Angular</span>
        </div>
    </div>

    <div class="mt-4 flex flex-col sm:flex-row gap-4">
        <a href="" class=" btn-primary-link">View Full Resume</a>
    </div>
</div>