
<div *ngIf="config" class="flex gap-2 flex-col text-center justify-between items-center">
    <app-button-close class="absolute top-2 right-2" (click)="close()" bgColor="bg-primary-light"></app-button-close>

    <div class="iconSrc" *ngIf="config.iconSrc">
        <img class="w-[92px] h-[92px]" [src]="config.iconSrc" alt="icon">
    </div>

    <h4 class="{{config.titleClass}} font-bold text-[24px]">{{config.title}}</h4>
    <p class="{{config.descriptionClass}} font-normal text-base">{{config.description}}</p>

    <div class="flex flex-col gap-2 mt-4 w-full">
        <button type="button" class="{{config.buttonClass}} ">{{config.buttonText}}</button>
        <button type="button" (click)="close()" class="{{config.buttonLinkColor}}">{{config.buttonLinkText}}</button>
    </div>

</div>