<div class=" mt-4">
    <!-- <div class="md:shrink-0">
        <img class="h-20 w-full object-cover md:h-full md:w-20" src="/assets/placeholder/user-icon.png" alt="Modern building architecture">
    </div>
    <div>Glenn Fairchild</div> -->


    <div class="max-w-lg mx-auto bg-[#F9FAFB] rounded-large overflow-hidden">
        <div class="p-2 sm:p-4 flex sm:gap-4" >


            <div class="w-[0px] sm:w-[84px] flex-none invisible sm:visible">
                <div class="  flex-none text-center mx-auto">
                    <img class="h-[84px]  w-[84px]" src="/assets/placeholder/user-icon.png" alt="Image">
                </div>
            </div>

            <div class="flex-1">
                <div class="flex items-center sm:items-start justify-center sm:justify-start gap-3">
                    <div class="sm:hidden text-center">
                        <img class="h-16  w-16 sm:24 sm:object-cover sm:w-24" src="/assets/placeholder/user-icon.png" alt="Image">
                    </div>
                    <div class="">
                        <h2 class="text-2xl text-left font-bold text-secondary-dark">Glenn Fairchild</h2>
                        <p class="text-xs text-center sm:text-left text-primary-dark font-[800]">YOUR DEDICATED ACCOUNT DIRECTOR
                        </p>
                        <div class="text-[14px] flex items-center gap-2 text-primary-dark font-bold xs:text-center sm:text-left">
                           <span><img src="/assets/icons/phone.svg" alt=""></span>
                           <span>0438 343 020</span>
                        </div>
                    </div>
                </div>
                
                <div class="text-center sm:text-left">
                
                    <p class="text-base text-black font-normal">Once we talk about your role requirements, I'll start
                        reaching out to qualified candidates like the talent shortlisted
                        below.</p>
                
                    <div class="mt-4 flex flex-col sm:flex-row gap-4 items-center">
                        <button class="btn-primary">Find My Next Hire</button>
                        <a href="" class=" btn-primary-link">How I Work </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>