<div class="flex flex-col justify-center items-center">
    <app-button-close class="self-end absolute right-6 top-6" (click)="close()" bgColor="bg-primary-light"></app-button-close>

    <div>
        <img src="assets/placeholder/user-icon.png" alt="">
    </div>

    <div class="text-center">
        <h4 class="pb-2 font-semibold mt-6 mb-2 text-24 leading-6 text-primary-dark" translate>I'll find you a Job Title</h4>
        <p translate>The candidates I'm showing you are an example of the internally and externally sourced talent that I’ll invite to your
        role. Once I understand your requirements, I’ll start headhunting candidates with the goal of arranging interviews for
        you in the next week.
        </p>

        <p class="text-primary-dark mt-6" translate>
            There are no fees until you hire one of our candidates, then a once off fee starting from 15% of the annual salary
            package will apply.
        </p>

        <button type="button" class="mt-8 btn-primary-lg" (click)="submit()" translate>Contact Me</button>
    </div>
</div>