<div>
  <div class="flex justify-between items-center">
    <h4 class="text-24 font-semibold text-secondary-light">
      Additional details
    </h4>
    <app-button-close
      class="self-end"
      (click)="close()"
      bgColor="bg-primary-light"
    ></app-button-close>
  </div>
  <p class="font-normal text-base text-secondary-light">
    Can you tell me a bit more about your job?
  </p>

  <div class="w-full pt-[30px]">
    <form [formGroup]="form" class="flex flex-col gap-4">
      <app-select-input
        placeholder="Select Job Type"
        [data]="jobTypeList"
        [control]="form.controls.jobType"
      ></app-select-input>

      <app-select-input
        placeholder="Location Type"
        [data]="locationTypeList"
        [control]="form.controls.locationType"
      ></app-select-input>

      <app-reusable-input
        placeholder="Target Start Date"
        class="sm:w-[50%] md:w-[40%]"
        type="date"
        [control]="form.controls.date"
      ></app-reusable-input>

      <app-salary-rate-group-input [formGroup]="form.controls.salaryRange"></app-salary-rate-group-input>

      <button (click)="submit()" class="btn-primary-lg col-span-2 mt-5">
        Submit
      </button>
    </form>
  </div>
</div>
