<div class="relative h-11 w-full">
  <input
    [type]="type"
    [formControl]="control"
    [class.border-primary-dark]="
      control.invalid && (control.touched || control.dirty)
    "
    class="peer h-full w-full border rounded-[4px] px-3 border-[#D2D2D2] bg-transparent pt-4 pb-1.5 text-sm14 font-semibold text-secondary-500 outline outline-0 transition-all focus:border-secondary-500 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
    placeholder=" "
  />
  <label
    class="after:content[' '] pointer-events-none absolute left-3 -top-2 flex h-full w-full select-none text-[10px] font-normal leading-[30px] text-blue-gray-500 transition-all after:absolute after:-bottom-1.5 after:block after:w-full after:scale-x-0 after:transition-transform after:duration-300 peer-placeholder-shown:text-sm14 peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-[#93969E] peer-focus:text-[10px] peer-focus:leading-[33px] peer-focus:after:scale-x-100 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500"
  >
    {{ placeholder }}
  </label>

  <ng-container *ngIf="control.invalid && (control.touched || control.dirty)">
    <div
      class="text-sm font-normal text-primary-dark capitalize"
      *ngFor="let err of control.errors | keyvalue"
    >
      {{ errorMessages[err.key] }}
    </div>
  </ng-container>
</div>
