<div>
  <div class="flex justify-between items-center">
    <h4 class="text-24 font-semibold text-secondary-light" translate>
      {{ data.title }}
    </h4>
    <app-button-close
      class="self-end"
      (click)="close()"
      bgColor="bg-primary-light"
    ></app-button-close>
  </div>
  <p class="font-normal text-base text-secondary-light">
    Let's confirm a few more details about your
    <span class="font-semibold text-primary-dark">{{
      JobInformation?.jobTitle
    }}</span>
    role.
  </p>

  <div class="flex flex-col sm:flex-row gap-6 mt-6">
    <div class="hidden md:block">
      <app-user-card></app-user-card>
    </div>
    <div class="grow">
      <form [formGroup]="contactForm" class="grid grid-cols-2 gap-4">
        <app-reusable-input
          placeholder="First Name"
          class="col-span-2 md:col-span-1"
          type="text"
          [control]="contactForm.controls.firstName"
        ></app-reusable-input>
        <app-reusable-input
          placeholder="Last Name"
          class="col-span-2 md:col-span-1"
          type="text"
          [control]="contactForm.controls.lastName"
        ></app-reusable-input>
        <app-reusable-input
          placeholder="Email"
          class="col-span-2"
          type="email"
          [control]="contactForm.controls.email"
        ></app-reusable-input>
        <app-reusable-input
          placeholder="Company Name"
          class="col-span-2"
          type="text"
          [control]="contactForm.controls.companyName"
        ></app-reusable-input>
        <app-reusable-textArea
          placeholder="Message"
          class="col-span-2"
          [control]="contactForm.controls.message"
        >
        </app-reusable-textArea>

        <!-- <app-reusable-input placeholder="Contact Number" class="col-span-2" type="text" [control]="contactForm.controls.phone"></app-reusable-input> -->
        <app-phone-number-input
          class="grow col-span-2"
          placeholder="Contact Number"
          [formGroup]="contactForm.controls.contact"
        >
        </app-phone-number-input>

        <button
          (click)="submit()"
          [disabled]="contactForm.invalid"
          class="btn-primary-lg col-span-2 mt-2"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
