<div *ngIf="!isError"
  class="flex flex-col lg:flex-row md:flex-col gap-8 sm:px-8 md:px-12 md:py-4 sm:justify-center bg-[#F9FAFB] p-4 mt-3"
>
  <div class="left md:w-full sm:w-full lg:w-[45%]">
    <p class="text-base font-normal text-secondary-dark">
      How does your salary compare?
    </p>
    <h2 class="text-black-202020 font-semibold text-[28px]">
      {{graphdata?.resultName}}
    </h2>
    <p class="text-[14px] text-secondary-light font-semibold">
      Average Market Salary
    </p>
    <p class="text-[14px] text-secondary-light font-normal">{{currencySymbol}}{{graphdata?.averageSalary}}</p>
    <p class="text-[38px] text-primary-dark font-bold">{{currencySymbol}}{{graphdata?.averageSalary}}</p>
    <h4 class="text-base font-semibold text-[#93969E] max-w-[200px]">
      Your salary is above the market average
    </h4>
  </div>
  <div class="right md:w-full lg:w-[100%]">
    <canvas
      baseChart
      class="chart"
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
</div>
