<div class="wrapper col-span-2" [formGroup]="contact">
    <ngx-intl-tel-input 
        [cssClass]="'custom'" 
        [preferredCountries]="preferredCountries" 
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true" 
        [customPlaceholder]="placeholder"  
        [searchCountryFlag]="true" 
        [searchCountryField]="[SearchCountryField.All]" 
        [selectFirstCountry]="false" 
        [selectedCountryISO]="CountryISO.Pakistan" 
        [enableAutoCountrySelect]="true" 
        [maxLength]="15"
        [phoneValidation]="true" 
        [separateDialCode]="separateDialCode" 
        [numberFormat]="PhoneNumberFormat"
        name="phone" 
        formControlName="phone">
    </ngx-intl-tel-input>


    <!-- <ng-container class="invalid-feedback"> -->
        <!-- <div class="text-sm font-normal text-primary-dark" *ngFor="let err of contact.errors | keyvalue"> -->
        <div class="text-sm font-normal text-primary-dark" *ngFor="let err of contact.errors | keyvalue">
            {{ errorMessages[err.key]}}
        </div>
    <!-- </ng-container> -->
</div> 