/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

// add carosal css
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

// moduels styles

// @import 'assets/theme/popup';

html,
body {
  height: 100%;
}

body {
  @apply font-montserrat;
}

:root {
  --select2-dropdown-border-color: #d2d2d2 !important;
}

.select2-container--default {
  border-radius: 4px !important;
  .select2-results__option {
    background: transparent !important;
    color: #5e5e5e !important;
    width: 100% !important;
    margin: auto;
    padding: 8px !important;
    border-bottom: 1px solid #d2d2d2 !important;
  }
  // ::after {
  //   border: 1px solid #d2d2d2 !important;
  // }
}
.select2-container--default .select2-results__option:last-child {
  border-bottom: none !important;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 4px !important;
  border-top: 1px solid #d2d2d2 !important;
  top: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 6.21px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d2d2d2;
}

.mat-drawer-container {
  display: contents !important;
}

.mat-drawer-content {
  overflow: unset !important;
  height: auto !important;
  @apply bg-[#F4F6F8];
}

// custom styles

@layer components {
  .nav-link {
    @apply inline-flex items-center px-1 pt-1 text-base font-semibold text-secondary-light hover:text-primary-dark;

    &.active {
      @apply text-primary-dark;
    }
  }

  // button {
  //  // @apply disabled:opacity-70;
  // }

  .btn-sm {
    @apply font-medium text-sm px-3 py-2 rounded hover:shadow-lg;
  }

  .btn-lg {
    @apply font-bold text-base px-6 py-3 rounded-lg hover:shadow-lg;
  }

  .btn-outline-sm {
    @apply border text-sm px-3 py-2 font-medium rounded;
  }

  .btn-outline-lg {
    @apply border-2 text-base px-6 py-3 font-bold rounded-lg;
  }

  .btn-primary-sm {
    @extend .btn-sm;
    @apply bg-primary-dark text-white;
  }

  .btn-primary-lg {
    @extend .btn-lg;
    @apply bg-primary-dark text-white;
  }

  .btn-primary-outline-sm {
    @extend .btn-outline-sm;
    @apply border-primary-dark hover:bg-primary-dark hover:text-white text-primary-dark;
  }
  .btn-primary-outline-lg {
    @extend .btn-outline-lg;
    @apply border-primary-dark hover:bg-primary-dark hover:text-white text-primary-dark;
  }

  .btn-default-outline {
    @apply border normal-case border-secondary-light hover:drop-shadow-light text-secondary-light py-2 rounded-lg text-center;
  }

  .btn-link-sm {
    @apply font-medium text-sm underline;
  }

  .btn-link-md {
    @apply font-bold text-base underline;
  }

  .btn-link-lg {
    @apply font-bold text-2xl underline;
  }

  // my custom input styles based on input type

  input[type="radio"] {
    lable {
      @apply text-xl font-normal text-secondary-light cursor-pointer;
    }

    &:checked + label {
      @apply font-semibold underline text-primary-dark;
    }
  }

  // popup modal classes

  .full-resume-modal {
    @apply lg:w-[900px] md:w-[85%] sm:w-[90%] w-[100%] sm:top-3 sm:right-3;
    position: fixed !important;
    max-width: 900px !important;

    mat-dialog-container {
      height: 100vh;

      .mdc-dialog__surface {
        @apply px-4 sm:px-6 md:px-8 py-4 bg-light-200 rounded-none sm:rounded-large;
      }
    }
  }

  .popup-modal {
    max-width: calc(100vw - 32px) !important;
    &.xs {
      @apply sm:w-[475px] w-[100%];
    }
    &.sm {
      @apply sm:w-[580px] w-[100%];
    }
    &.md {
      @apply sm:w-[696px] w-[100%];
    }
    &.lg {
      // @apply sm:w-[862px] w-[100%];
      @apply w-auto;
    }
    mat-dialog-container {
      max-height: 90vh;
      overflow: auto;
      .mdc-dialog__surface {
        @apply p-[15px] sm:p-[28px] md:p-[40px] bg-white sm:rounded-[4px];
      }
    }
  }
}

.owl-theme {
  .owl-nav {
    display: none;
  }

  .owl-dots {
    text-align: center;
    margin-top: 80px;
    -webkit-tap-highlight-color: transparent;
    padding: 0 4px;

    @media screen and (max-width: 567px) {
      margin-top: 30px;
    }

    .owl-dot {
      background: #cfced6;
      height: 16px;
      width: 16px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      margin: 0 4px;

      span {
        visibility: hidden;
      }
    }

    .active {
      height: 16px;
      width: 44px;

      background: #e2888c;
      border-radius: 8px;
    }
  }
}

.slider-section {
  position: relative;
  max-width: 1440px;
  margin: auto;
  .slider-section-background {
    height: 100%;

    &::before {
      content: "";
      background-color: #fdefed;
      border-radius: 20px;
      position: absolute;
      width: 80%;
      left: 10%;
      top: -15px !important;
      height: calc(100% - 20px) !important;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;

      @media screen and (min-width: 500px) {
        top: 0;
        height: calc(100% - 50px);
      }
    }
  }
}

.wrapper {
  // margin-bottom: 20px;
}

/*****************************************************
	Custom styling example bellow.
*****************************************************/

.iti {
  display: block !important;
  // margin-bottom: 20px;
}

.iti .dropdown-menu.country-dropdown {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #c7cace;
  margin-top: -1px;
}

.iti .iti__country-list {
  box-shadow: none;
  font-size: 14px;
  margin-left: 0;
  width: 244px;
  max-height: 170px;
}

.iti__flag-container.open + input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.iti .search-container input {
  font-size: 14px;
  border-color: #c7cace;
  border-radius: 0;
  padding: 5px 10px;
}

.iti .search-container input:focus {
  outline: none;
}

@media screen and (max-width: 479px) {
  .iti .iti__country-list {
    width: 88.3vw;
  }
}

ngx-intl-tel-input input {
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #d2d2d2;
  color: #5e5e5e;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  border: 1px solid #aa1d35;
}

ngx-intl-tel-input input:hover {
  box-shadow: none;
}

ngx-intl-tel-input input:focus {
  outline: none !important;
  border-color: rgba(123, 128, 154, 1);
  box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input {
  &::placeholder {
    color: #93969e;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
  }
  &::-webkit-input-placeholder {
    color: #93969e;
    font-size: 14px;
    line-height: 17px;
  }
  &:-ms-input-placeholder {
    color: #93969e;
    font-size: 14px;
    line-height: 17px;
  }
  &::-ms-input-placeholder {
    color: #93969e;
    font-size: 14px;
    line-height: 17px;
  }
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}

.tooltip {
  position: absolute;
  top: 30px;
  background-color: #fff;
  color: #111928;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 9999;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 150%;
  max-width: 380px;
  border-radius: 4px;
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.08);
}
