<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <div class="flex-shrink-0 flex items-center">
      <a href="javascript:void(0)">
        <!-- Add your logo image or text here -->
        <img class="block w-16 w-auto" src="assets/logo.svg" alt="Logo" />
      </a>
    </div>
    <div class="flex flex-col">
      <a routerLink="/job-seeker" routerLinkActive="active" translate
        class="inline-flex items-center px-4 pt-1 border-b-2 border-transparent text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
        <span translate>Job Seeker</span> 
      </a>
      <a routerLink="/employer" routerLinkActive="active" translate
        class="inline-flex items-center px-4 pt-1 border-b-2 border-transparent text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
        Employer
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>


    <!-- app.component.html -->
    <header class="bg-white sticky top-0 z-10">
      <nav class="w-full lg:max-w-[1440px] xl:px-[140px]  mx-auto sm:px-6">
        <div class="flex justify-between h-16">
          <div class="flex">
            <!-- Logo -->
            <div class="flex-shrink-0 flex items-center">
              <a href="javascript:void(0)">
                <!-- Add your logo image or text here -->
                <img class="block w-16 w-auto" src="assets/logo.svg" alt="Logo" />
              </a>
            </div>
            <!-- Navigation links -->
            <div class="hidden sm:-my-px sm:ml-6 sm:flex">
              <a routerLink="/job-seeker" routerLinkActive="active" class="nav-link">
                Job Seeker
              </a>
              <a routerLink="/employer" routerLinkActive="active" class="ml-8 nav-link">
                Employer
              </a>
            </div>
          </div>
          <!-- Language dropdown and toggle icon for small devices -->
          <div class="hidden sm:flex sm:items-center sm:ml-6">
            <!-- Language dropdown -->
            <div class="relative inline-block text-left">
              <app-language-selector [icon]="false"></app-language-selector>
            </div>
          </div>
          <!-- Toggle icon for small devices -->
          <div class="flex sm:hidden items-center">
            <button type="button" (click)="drawer.toggle()" *ngIf="isHandset$ | async"
              class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-light-200 focus:outline-none focus:bg-light-200 focus:text-gray-500"
              aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!-- Toggle icon -->
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </div>
        </div>
      </nav>
    </header>

    <router-outlet></router-outlet>

    <footer class="w-full lg:max-w-[1440px] xl:px-[140px] mx-auto  mb-8 sm:px-6 px-4 pt-8 sm:pt-16 pb-6">
      <div class="sm:hidden flex content-center justify-center mb-2">
        <img class="" src="/assets/logo.svg" alt="Logo" />
      </div>

      <div class="px-2">
        <hr />
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-3  gap-4 pt-4 sm:pt-1.5">
        <div class="text-left">
          <a class="col-span-1" href="javascript:void(0)">
            <img src="/assets/linkedin.svg" alt="Linkedin" />
          </a>
        </div>
        <div class="text-center hidden sm:block">
          <img class="col-span-1hidden md:block items-start mx-auto" src="/assets/logo.svg" alt="Logo" />
        </div>
        <div class="text-right">
          <div class=" col-span-1 self-end text-[14px] text-[#93969E] font-normal" translate>
            Privacy Policy & Terms
          </div>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>